<tr>
  <td class="col-md-5">
    <%= content_tag :p, "#{route.name}", class: "dbclick toggle_val_#{route.id}",
                    id: "route_#{route.id}", data: { resource_id: route.id }  %>
    <%= form_for [:admin,  route],
                 html: { class: "form-horizontal inline_form toggle_val_#{route.id}",
                         style: "display: none" },
                 remote: true do |form| %>
      <%= form.text_field :name %>
      <%= form.submit  t(".submit"), class: "btn btn-success cancel"%>
      <%= hidden_field_tag :id, route.id %>
      <%= button_tag t("common.cancel"), type: 'button', class: "btn btn-danger cancel" %>
    <% end %>
  </td>
  <td class="col-md-offset-6"><%= link_to t('common.show'), admin_route_path(route) %></td>
  <td><%= link_to t('common.edit'), edit_admin_route_path(route) %></td>
  <td><%= link_to t('common.destroy'), admin_route_path(route), method: :delete,
                  data: { confirm: t("common.sure") } %></td>
</tr>
