<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t(".trains") %>:</strong>
  <ul>
    <% if @route.trains.present? %>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    <% else %>
      <%= t('.no_train') %>
    <% end %>
  </ul>
</p>

<p>
  <strong><%= t(".stations.names") %>:</strong>
  <% if @route.railway_stations.present? %>
    <div class="row">
      <table id="table-route-stations" class="table table-striped col-lg-6 col-md-6">
        <thead>
        <tr>
          <th><%= t(".stations.table.title.name") %></th>
          <th><%= t(".stations.table.title.position") %></th>
          <th><%= t(".stations.table.title.arrival") %></th>
          <th><%= t(".stations.table.title.departure") %></th>
        </tr>
        </thead>
        <tbody>
        <% @route.railway_stations.each do |railway_station| %>
          <%= render 'common/error', resource: railway_station %>
            <tr>
              <td><%= railway_station.name %></td>
              <td>
                <%= form_tag update_station_admin_railway_station_path(railway_station), method: :patch do %>
                  <%= number_field_tag :position, railway_station.position_in(@route) %>
                <td>
                  <%= select_time(railway_station.time_in(@route, :arrival),
                                  { :prefix => "arrival" }, style: "width: auto;") %>
                </td>
                <td>
                  <%= select_time(railway_station.time_in(@route, :departure),
                                  { :prefix => "departure" }, style: "width: auto;") %>
                </td>
                <%= hidden_field_tag :route_id, @route.id %>
                <td>
                  <%= submit_tag  t(".submit") %>
                </td>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p><%= t(".no_station") %></p>
  <% end %>
</p>
  
<br>
