<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.name %>
  <% else %>
  Not specified
  <% end %>
</p>

<p>
  <strong>Route</strong>
  <% if @train.routes.present? %>
    <% @train.routes.each do |route|  %>
      <%= route.name %>
    <% end %>
  <% else %>
  Not specified
  <% end %>
</p>

<p>
  <strong>Carriages</strong>
  <p>
    <% count_carraiage_types(@train).each do |key, value| %>
      <%=  "#{key.capitalize} - #{value}" %>
    <% end %>
  </p>
  <ul>
    <% @train.carriages.each do |carriage| %>
       <li>
          <%=  "Type #{carriage.carriage_type.name} | 
         Upper places: #{carriage.upper_places}   |
         Bottom places: #{carriage.bottom_places}" %>
       </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
