<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.name %>
  <% else %>
  Not specified
  <% end %>
</p>

<p>
  <strong>Route</strong>
  <% if @train.routes.present? %>
    <% @train.routes.each do |route|  %>
      <%= route.name %>
    <% end %>
  <% else %>
  Not specified
  <% end %>
</p>

<p>
  <strong>Carriages</strong>
  <p>
    <% count_carraiage_types(@train).each do |key, value| %>
      <%=  "#{key.capitalize} - #{value}" %>
    <% end %>
  </p>
  <p>      
    <strong>Amount places:</strong>
    <ul>
      <% places = count_carraiage_places(@train) %>
      <% @train.carriages.map(&:carriage_type).map(&:name).uniq.each do |type_name| %>
          <li>
            <%= "#{type_name.capitalize} upper places:" %>
            <%= places[:upper_places][type_name] %>
            <%= ", bottom places: " %>
            <%= places[:bottom_places][type_name] %>
          </li>
      <% end %>
    </ul>
  </p>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
