<%= link_to "Back", tickets_path %>


<h1>Ticket #<%= @ticket.id %></h1>

<p>
  <strong>Starting:</strong>
  <%= @ticket.first_station.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ticket.last_station.name %>
</p>

<p>
  <strong>Train number:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @ticket.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @ticket.arrival %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @ticket.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong>Passport Id:</strong>
  <%= @ticket.passport %>
</p>
