<%= form_with(model: carriage, local: true, class: 'form-horizontal') do |form| %>
  <%= render 'common/error', resource: @carriage %>

  <div class="field">
    <%= form.label :trains %>
    <%= form.collection_select :trains, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :bottom_places %>
    <%= form.text_field :bottom_places %>
  </div>


  <div class="field">
    <%= form.label :upper_places %>
    <%= form.text_field :upper_places %>
  </div>

  <div class="field">
    <%= form.label :train %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
