<%= form_for([:admin, @ticket], class: 'form-horizontal') do |form| %>
  <%= render 'common/error', resource: @ticket %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :passport %>
    <%= form.text_field :passport %>
  </div>

  <div class="field">
    <%= form.label :train %>
    <p><%= @ticket.train.number %></p>
    <%= form.hidden_field(:train_id, value: @ticket.train.id) %>
  </div>

  <div class="field">
    <%= form.label :starting %>
    <p><%= @ticket.first_station.name %></p>
    <%= form.hidden_field(:first_station_id, value: @ticket.first_station.id) %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <p><%= @ticket.last_station.name %></p>
    <%= form.hidden_field(:last_station_id, value: @ticket.last_station.id) %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <p><%= form.datetime_field :departure %></p>
  </div>


  <div class="field">
    <%= form.label :arrival %>
    <p><%= form.datetime_field :arrival %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
