<%= form_with(model: railway_station, local: true, class: 'form-horizontal') do |form| %>
  <%= render 'common/error', resource: railway_station %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
