<% present(@carriage.becomes(Carriage)) do |carriage| %>
  <%= link_to 'Edit', edit_admin_carriage_path(carriage) %> |
  <%= link_to 'Destroy', { :controller => 'carriages', :action => 'destroy', :id => @carriage },
              { :confirm => 'Are you sure?', :method => :delete, :remote => true}%> |
  <%= link_to 'Back', admin_train_path(carriage.train) %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Carriage type:</strong>
    <%= carriage.type.remove("Carriage") %>
  </p>

  <p>
    <strong>Train:</strong>
      <%= carriage.train ? carriage.train.number : "No train" %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= carriage.number %>
  </p>

  <% carriage.places.each do |place, value| %>
    <p>
      <strong><%= place.to_s.gsub("_", " ").capitalize %></strong>
      <%= value %>
    </p>
  <% end %>
<% end %>
