
<% present(@train) do |train| %>
  <%= link_to t('common.edit'), edit_admin_train_path(train) %> |
  <%= link_to t('common.back'), admin_trains_path %>

  <p>
    <strong><%= t('.number') %>:</strong>
    <%= train.number %>
  </p>

  <p>
    <strong><%= t('.current_station.name') %>:</strong>
    <% if train.current_station.present? %>
      <%= train.current_station.name %>
    <% else %>
    <%= t('.current_station.not_set') %>
    <% end %>
  </p>

  <p>
    <strong><%= t('.route.name') %></strong>
    <% if train.routes.present? %>
      <% train.routes.each do |route|  %>
        <%= route.name %>
      <% end %>
    <% else %>
      <%= t('.route.not_set') %>
    <% end %>
  </p>

  <p>
    <strong><%= t('.carriages.name') %></strong>
    <p>
      <% train.count_carraiage_types.each do |key, value| %>
        <%= t(".carriages.type.#{key}")%> - <%= "#{value}" %>
      <% end %>
    </p>

    <p>
      <%= t('.carriages.number_head') %>
      <% train.sorted_carriage.each do |carriage| %>
        <%= link_to carriage.number , controller: "carriages", action: "show", id: carriage  %> |
      <% end %>
      <%= t('.carriages.number_tail') %>
    </p>

    <p> <%= link_to  t('.carriages.add'), new_admin_train_carriage_path(train) %> </p>
  </p>
<% end %>
